@model LoginViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "_Layout";
}

<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <form  asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <h1>فرم ورود</h1>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input type="text" asp-for="UserName" class="form-control" placeholder="نام کاربری" required="" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" asp-for="Password" class="form-control" placeholder="رمز عبور" required="" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    @*<a class="btn btn-default submit" href="" type="submit">ورود</a>*@
                    <button type="submit" class="btn btn-primary">ورود</button>
                    <a class="reset_pass" href="#reset">رمز ورود را از دست دادید؟</a>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <p class="change_link">
                        جدید در سایت؟
                        <a href="#signup" class="to_register"> ایجاد حساب </a>
                    </p>
                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                        <p>©1397 تمامی حقوق محفوظ. Gentelella Alela! یک قالب بوت استرپ 3. حریم خصوصی و شرایط</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
    @*<div id="register" class="animate form registration_form">
        <section class="login_content">
            <form>
                <h1>ایجاد حساب</h1>
                <div>
                    <input type="text" class="form-control" placeholder="نام کاربری" required="" />
                </div>
                <div>
                    <input type="email" class="form-control" placeholder="ایمیل" required="" />
                </div>
                <div>
                    <input type="password" class="form-control" placeholder="رمز ورود" required="" />
                </div>
                <div>
                    <a class="btn btn-default submit" href="index.html">ارسال</a>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <p class="change_link">
                        در حال حاضر عضو هستید؟
                        <a href="#signin" class="to_register"> ورود </a>
                    </p>
                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                        <p>©1397 تمامی حقوق محفوظ. Gentelella Alela! یک قالب بوت استرپ 3. حریم خصوصی و شرایط</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div id="rest_pass" class="animate form rest_pass_form">
        <section class="login_content">
            <!-- /password recovery -->
            <form action="index.html">
                <h1>بازیابی رمز عبور</h1>
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" name="email" placeholder="ایمیل" />
                    <div class="form-control-feedback">
                        <i class="fa fa-envelope-o text-muted"></i>
                    </div>
                </div>
                <button type="submit" class="btn btn-default btn-block">بازیابی رمز عبور </button>
                <div class="clearfix"></div>
                <div class="separator">
                    <p class="change_link">
                        جدید در سایت؟
                        <a href="#signup" class="to_register"> ایجاد حساب </a>
                    </p>
                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                        <p>©1397 تمامی حقوق محفوظ. Gentelella Alela! یک قالب بوت استرپ 3. حریم خصوصی و شرایط</p>
                    </div>
                </div>
            </form>
            <!-- Password recovery -->
        </section>
    </div>*@
</div>

