################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DynamicDashboard/.vs
/DynamicDashboard/DynamicDashboard/obj
/DynamicDashboard/DynamicDashboard/bin/Debug/netcoreapp2.2
/DynamicDashboard/DynamicDashboard.sln.DotSettings.user
*.user
/DynamicDashboard/ApplicationCore/obj
/DynamicDashboard/DynamicDashboard.Core/bin/Debug/netcoreapp2.2
/DynamicDashboard/DynamicDashboard.Core/obj
/DynamicDashboard/DynamicDashboard.Infrastructure/bin/Debug/netcoreapp2.2
/DynamicDashboard/DynamicDashboard.Infrastructure/obj
