################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DynamicDashboard/.vs/DynamicDashboard/v15
/DynamicDashboard/DynamicDashboard/obj
*.user
