<div class="profile clearfix">
    <div class="profile_pic">
        <img src="~/build/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>خوش آمدید,</span>
        <h2>مرتضی کریمی</h2>
    </div>
</div>